<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- base m2e config -->
        <section id="m2e">
            <group id="m2e_m2ecloud_magento_connector" translate="label" type="text" sortOrder="450" showInDefault="0" showInWebsite="0" showInStore="0">
                <field id="integration_id" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>

        <!-- payment method -->
        <section id="payment">
            <group id="m2epayment" translate="label" type="text" sortOrder="450" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>M2E Cloud Connector Payment</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>
            </group>
        </section>

        <!-- shipping method -->
        <section id="carriers">
            <group id="m2eshipping" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>M2E Cloud Connector Shipping</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>
            </group>
        </section>
    </system>
</config>
